* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.container {
  height: 80vh;
  width: 1440px;
  background-color: #bcd3fc;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
